<template>
    <!--<div>
            <router-link to="/" class="link-grey px-2 no-underline" v-if="!signedIn()">Sign in</router-link>
            <router-link to="/signup" class="link-grey px-2 no-underline" v-if="!signedIn()">Sign Up</router-link>
            <router-link to="/records" class="link-grey px-2 no-underline" v-if="signedIn()">Records</router-link>
            <router-link to="/artists" class="link-grey px-2 no-underline" v-if="signedIn()">Artists</router-link>
            <a href="#" @click.prevent="signOut" class="link-grey px-2 no-underline" v-if="signedIn()">Sign out</a>
        </div> -->
    <nav class="flex items-center justify-between flex-wrap bg-red-100 py-4 px-20">
        <div class="flex items-center flex-shrink-0 mr-6">
            <svg class="fill-current text-red-500" viewBox="0 0 24 24" width="24" height="24">
                <title>record vinyl</title>
                <path d="M23.938 10.773a11.915 11.915 0 0 0-2.333-5.944 12.118 12.118 0 0 0-1.12-1.314A11.962 11.962 
                0 0 0 12 0C5.373 0 0 5.373 0 12s5.373 12 12 12 12-5.373 12-12c0-.414-.021-.823-.062-1.227zM12 16a4 4 
                0 1 1 0-8 4 4 0 0 1 0 8zm0-5a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"></path>
            </svg>
            <span class="font-semibold font-mono text-red-500 text-sm tracking-tight px-6">RECORD STORE</span>
        </div>
        <div class="flex items-center flex-shrink-0 mr-6">
            <router-link to="/" class="inline-block text-sm px-4 py-2 leading-none border rounded text-red-500 border-red-300 
                hover:border-transparent hover:text-white hover:bg-red-300" v-if="!signedIn()">Sign In</router-link>

        </div>
    </nav>
    
</template>

<script>
export default {
    name: 'Header',
    created () {
        this.signedIn()
    },
    methods: {
        setError(error, text) {
            this.error = (error.response && error.response.data && error.data.response.error) || text
        },
        signedIn () {
            return localStorage.signedIn
        },
        signOut () {
            this.$http.secured.delete('/signin')
            .then(response => {
                delete localStorage.csrf
                delete localStorage.signedIn
                this.$router.replace('/')
            })
            .catch(error => {
                this.setError(error, 'Cannot sign out!')
            })
        }
    }
}
</script>