<template>
    <div class="max-w-sm m-auto my-8">
        <div class="border p-10 border-grey-light shadow rounded">
            <h3 class="font-bold text-2xl mb-6 text-grey-darkest">Sign In</h3>
            <form @submit.prevent="signin">
                <div class="text-red" v-if="error">{{ error }}</div>

                <div class="mb-6">
                    <label for="email" class="label">Email address</label>
                    <input type="email" v-model="email" class="bg-gray-200 appearance-none border-2 border-gray-200 
                        rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-green-500" 
                        id="email" placeholder="fkyou@gmail.com">
                </div>
                
                <div class="mb-6">
                    <label for="password" class="label">Password</label>
                    <input type="password" v-model="password" class="bg-gray-200 appearance-none border-2 border-gray-200 
                        rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-green-500" 
                        id="email">
                </div>

                <button type="submit" class="font-sans bg-green-500 hover:bg-green-400 text-white 
                    font-bold py-2 px-4 py-4 border-b-4 border-green-700 hover:border-green-500 
                    rounded w-full">
                    Sign In
                </button>

                <div class="my-4">
                    <router-link to="/signup" class="link">Sign Up</router-link>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Signin',
    data () {
        return {
            email: '', 
             password: '',
             error: ''
        }
    },
    created () {
        this.checkSignedIn()
    }, 
    updated () {
        this.checkSignedIn()
    },
    methods: {
        signin () {
            this.$http.plain.post('/signin', { email: this.email, password: this.password })
            .then(response => { this.signinSuccessful(response)})
            .catch(error => { this.signinFailed(error)})
        }
    },
    signinSuccessful (response) {
        if(!response.data.csrf) {
            this.signinFailed(response)
            return
        }

        localStorage.csrf = response.data.csrf
        localStorage.signedIn = true
        this.error = ''
        this.$router.replace('/records')
    },
    signinFailed (error) {
        this.error = (error.response && error.response.data && error.response.data.error) || ''
        delete localStorage.csrf
        delete localStorage.signedIn
    },
    checkSignedIn () {
        if (localStorage.signedIn) {
            this.$router.replace('/records')
        }
    }
}
</script>